In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
path = '../data/'
data = pd.read_csv(f'{path}gov_banking_data.csv')
data.head()

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,الفئة_العمرية,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,نوع_الدخل,السنة
0,الأحساء,تمويل الافراد,قرض أسرة,قطاع حكومي,60000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,>= 02,0,>=7500,متوسط,2018
1,الأحساء,تمويل الاعمال,قرض مشروع ناشيء,متقاعد حكومي,122000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,< 02,0,<5000,منخفض جدا,2018
2,الأحساء,تمويل الافراد,قرض أسرة,متقاعد حكومي,60000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,>= 05,0,<5000,منخفض جدا,2018
3,الأحساء,تمويل الافراد,قرض زواج,قطاع حكومي,48000.0,0.0,2018/01,ذكر,بالغين,متزوج,0.0,>= 02,0,>=5000,منخفض,2018
4,الأحساء,تمويل الاعمال,عربات البيع المتنقلة,غير معروف,150000.0,1.0,2018/01,ذكر,بالغين,متزوج,0.0,< 02,0,<5000,منخفض جدا,2018