In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 1.0 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: There was an error checking the latest version of pip.

In [16]:
from xml.dom.minidom import Document


path = "/Users/saraali/Documents/misk-DSI/gov_banking_eda/data/"
df_2018 = pd.read_csv(path+'social-development-bank-loans-for-2018.csv')
df_2019 = pd.read_csv(path+'social-development-bank-loans-for-2019.csv')
df_2020 = pd.read_excel(path+'social-development-bank-loans-for-2020..xlsx')
df_2021 = pd.read_csv(path+'social_devlopment_bank_loans_for_2021.csv')
df_2022 = pd.read_csv(path+'social_devlopment_bank_loans_for_2022.csv')

df_2018['السنة'] = 2018
df_2019['السنة'] = 2019
df_2020['السنة'] = 2020
df_2021['السنة'] = 2021
df_2022['السنة'] = 2022

df_2018.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018

In [20]:
print(df_2018.info(), df_2019.info(), df_2020.info(), df_2021.info(), df_2022.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48713 entries, 0 to 48712
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 48713 non-null  float64
 1   فرع البنك          48713 non-null  object
 2   نوع التمويل        48713 non-null  object
 3   تصنيف التمويل      48713 non-null  object
 4   قطاع العميل        31555 non-null  object
 5   قيمة التمويل       48713 non-null  float64
 6   قيمة القسط         48713 non-null  object
 7   تاريخ الصرف        48713 non-null  object
 8   جنس العميل         48713 non-null  object
 9   عمرالعميل          48659 non-null  object
 10  الحالة الاجتماعية  48713 non-null  object
 11  احتياجات خاصة      48713 non-null  object
 12  عدد افراد الاسرة   48599 non-null  object
 13  قرض ادخاري         48713 non-null  object
 14  قيمة الدخل         47663 non-null  object
 15  السنة              48713 non-null  int64
dtypes: float64(2), int64(1), object(13)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175 entries, 0 to 11174
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 11175 non-null  float64
 1   فرع البنك          11175 non-null  object
 2   نوع التمويل        11175 non-null  object
 3   تصنيف التمويل      11175 non-null  object
 4   قطاع العميل        7225 non-null   object
 5   قيمة التمويل       11175 non-null  float64
 6   قيمة القسط         11175 non-null  object
 7   تاريخ الصرف        11175 non-null  object
 8   جنس العميل         11175 non-null  object
 9   عمرالعميل          11169 non-null  object
 10  الحالة الاجتماعية  11175 non-null  object
 11  احتياجات خاصة      11175 non-null  object
 12  عدد افراد الاسرة   11132 non-null  object
 13  قرض ادخاري         11175 non-null  object
 14  قيمة الدخل         11061 non-null  object
 15  السنة              11175 non-null  int64
dtypes: float64(2), int64(1), object(13)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13913 entries, 0 to 13912
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 13913 non-null  int64
 1   فرع البنك          13913 non-null  object
 2   نوع التمويل        13913 non-null  object
 3   تصنيف التمويل      13913 non-null  object
 4   قطاع العميل        13913 non-null  object
 5   قيمة التمويل       13913 non-null  int64
 6   قيمة القسط         13913 non-null  object
 7   تاريخ الصرف        13913 non-null  object
 8   جنس العميل         13913 non-null  object
 9   عمرالعميل          13913 non-null  object
 10  الحالة الاجتماعية  13913 non-null  object
 11  احتياجات خاصة      13913 non-null  object
 12  عدد افراد الاسرة   13913 non-null  object
 13  قرض ادخاري         13913 non-null  object
 14  قيمة الدخل         13913 non-null  object
 15  السنة              13913 non-null  int64
dtypes: int64(3), object(13)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55129 entries, 0 to 55128
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 55129 non-null  int64
 1   المدينة            55129 non-null  object
 2   التصنيف            55129 non-null  object
 3   االمنتج            55129 non-null  object
 4   قطاع_العميل        55129 non-null  object
 5   مبلغ_التمويل       55129 non-null  float64
 6   قيمة_القسط         55129 non-null  object
 7   تاريخ_الصرف        55129 non-null  object
 8   جنس_العميل         55091 non-null  object
 9   عمرالعميل          55129 non-null  object
 10  ألحاله_الإجتماعية  55079 non-null  object
 11  إحتياجات_خاصة      55079 non-null  object
 12  عدد افراد الاسرة   55129 non-null  object
 13  قيمة الدخل         55091 non-null  object
 14  السنة              55129 non-null  int64
dtypes: float64(1), int64(2), object(12)
memory usage: 6.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51106 entries, 0 to 51105
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 51106 non-null  int64
 1   المدينة            51106 non-null  object
 2   التصنيف            51106 non-null  object
 3   االمنتج            51106 non-null  object
 4   قطاع_العميل        51106 non-null  object
 5   مبلغ_التمويل       51106 non-null  float64
 6   قيمة_القسط         51030 non-null  object
 7   تاريخ_الصرف        51106 non-null  object
 8   جنس_العميل         51106 non-null  object
 9   عمر_العميل         51106 non-null  object
 10  ألحاله_الإجتماعية  51062 non-null  object
 11  إحتياجات_خاصة      51106 non-null  object
 12  عدد_أفراد_الأسره   51106 non-null  object
 13  زود_الإدخاري       51106 non-null  int64
 14  القيمة             51106 non-null  int64
 15  السنة              51106 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 6.2+ MB
None None None None None

In [28]:
dfs = [df_2018, df_2019, df_2020, df_2021, df_2022]

for df in dfs: 
    print(df.head(), '\n ________________________________________________________________')

    ID فرع البنك نوع التمويل تصنيف التمويل   قطاع العميل  قيمة التمويل  \
0  1.0   الإحساء     إجتماعي          أسرة    موظف حكومي       60000.0
1  2.0   الإحساء       مشروع         ناشيء  متقاعد حكومي      122000.0
2  3.0   الإحساء     إجتماعي          أسرة  متقاعد حكومي       60000.0
3  4.0   الإحساء     إجتماعي          زواج    موظف حكومي       48000.0
4  5.0   الإحساء       مشروع   عربات البيع           NaN      150000.0

  قيمة القسط تاريخ الصرف جنس العميل عمرالعميل الحالة الاجتماعية احتياجات خاصة  \
0    >= 1000     2018/01       MALE     >= 40             متزوج            لا
1    >= 1000     2018/01       MALE     >= 40             متزوج            لا
2    >= 1000     2018/01       MALE     >= 40             متزوج            لا
3     < 1000     2018/01       MALE     >= 30             متزوج            لا
4    >= 1000     2018/01       MALE     >= 30             متزوج            لا

  عدد افراد الاسرة قرض ادخاري قيمة الدخل  السنة
0            >= 02         لا    >= 7500   2018
1             < 02         لا     < 5000   2018
2            >= 05         لا     < 5000   2018
3            >= 02         لا    >= 5000   2018
4             < 02         لا     < 5000   2018
 ________________________________________________________________
    ID فرع البنك نوع التمويل تصنيف التمويل       قطاع العميل  قيمة التمويل  \
0  1.0      تبوك     إجتماعي          أسرة        موظف حكومي       60000.0
1  2.0      حائل       مشروع            حل               NaN      160000.0
2  3.0      تبوك     إجتماعي          زواج        موظف حكومي       60000.0
3  4.0   المدينة     إجتماعي          زواج  موظف شركة حكومية       60000.0
4  5.0   المدينة     إجتماعي          أسرة     موظف قطاع خاص       60000.0

  قيمة القسط تاريخ الصرف جنس العميل عمرالعميل الحالة الاجتماعية احتياجات خاصة  \
0    >= 1000     2019/02       MALE     >= 30             متزوج            لا
1    >= 1000     2019/01       MALE      < 30              أعزب            لا
2    >= 1000     2019/02       MALE      < 30             متزوج            لا
3     < 1000     2019/03       MALE      < 30             متزوج            لا
4    >= 1000     2019/02     FEMALE     >= 30              مطلق            لا

  عدد افراد الاسرة قرض ادخاري قيمة الدخل  السنة
0            >= 05         لا     < 5000   2019
1             < 02         لا     < 5000   2019
2            >= 02         لا    >= 7500   2019
3            >= 10         لا    >= 5000   2019
4            >= 02         لا   >= 10000   2019
 ________________________________________________________________
   ID فرع البنك    نوع التمويل تصنيف التمويل قطاع العميل  قيمة التمويل  \
0   6      الرس  تمويل الافراد          أسرة    غير محدد         60000
1   7    الرياض  تمويل الافراد          زواج  موظف حكومي         60000
2  47    الرياض  تمويل الافراد          زواج    غير محدد         60000
3  48       مكة  تمويل الافراد          زواج    غير محدد         60000
4  49    الطائف  تمويل الافراد          زواج  موظف حكومي         60000

  قيمة القسط تاريخ الصرف جنس العميل عمرالعميل الحالة الاجتماعية احتياجات خاصة  \
0    >= 1000     2020/03       أنثى     >= 30              مطلق            لا
1    >= 1000     2020/03        ذكر      < 30             متزوج            لا
2    >= 1000     2020/01        ذكر      < 30             متزوج            لا
3    >= 1000     2020/03        ذكر      < 30             متزوج            لا
4    >= 1000     2020/03        ذكر      < 30             متزوج            لا

  عدد افراد الاسرة قرض ادخاري قيمة الدخل  السنة
0            >= 02        نعم     < 5000   2020
1            >= 02         لا    >= 7500   2020
2            >= 02         لا     < 5000   2020
3            >= 02        نعم     < 5000   2020
4            >= 02         لا    >= 7500   2020
 ________________________________________________________________
   ID      المدينة التصنيف          االمنتج قطاع_العميل  مبلغ_التمويل  \
0   1         حائل   مشروع  قرض مشروع ناشيء    غير معرف       30000.0
1   2       الطائف     نقل   قرض سيارة أجرة    غير معرف       54694.0
2   8       الرياض   مشروع       قرض التميز    قطاع خاص     1585000.0
3  12  مكه المكرمه     نقل    قرض أجرة خاصة  قطاع حكومي       97230.0
4  13        جازان     نقل    قرض أجرة خاصة  قطاع حكومي       97230.0

  قيمة_القسط تاريخ_الصرف جنس_العميل عمرالعميل ألحاله_الإجتماعية إحتياجات_خاصة  \
0      <1000      2021/1        ذكر     >= 30             متزوج          سليم
1      <1000      2021/1        ذكر     >= 30             متزوج          سليم
2     >=1000      2021/1       أنثى     >= 40              أعزب          سليم
3     >=1000      2021/1        ذكر     >= 40             متزوج          سليم
4     >=1000      2021/1        ذكر      < 30              أعزب          سليم

  عدد افراد الاسرة قيمة الدخل  السنة
0        غير معروف      <5000   2021
1            >= 02      <5000   2021
2             < 02    >=10000   2021
3             < 02      <5000   2021
4             < 02      <5000   2021
 ________________________________________________________________
   ID                                  المدينة التصنيف               االمنتج  \
0   1       بنك التنمية الإجتماعية فرع المجمعة   مشروع            قرض التميز
1   2        بنك التنمية الإجتماعية فرع الرياض   مشروع          قرض مشروع حل
2   3           بنك التنمية الإجتماعية فرع جدة   مشروع            قرض التميز
3   4  بنك التنمية الإجتماعية بالمدينة المنورة   مشروع  قرض التقنيات الناشئة
4   5        بنك التنمية الإجتماعية فرع الرياض   مشروع  قرض التقنيات الناشئة

  قطاع_العميل  مبلغ_التمويل قيمة_القسط تاريخ_الصرف جنس_العميل عمر_العميل  \
0    قطاع خاص     2877000.0    >= 1000     2022-03       انثى      >= 30
1    قطاع خاص      281000.0    >= 1000     2022-03       انثى      >= 30
2    قطاع خاص     2218980.0    >= 1000     2022-01        ذكر      >= 30
3    قطاع خاص      260000.0    >= 1000     2022-01       انثى      >= 30
4    قطاع خاص      220000.0    >= 1000     2022-03        ذكر      >= 30

  ألحاله_الإجتماعية إحتياجات_خاصة عدد_أفراد_الأسره  زود_الإدخاري  القيمة  \
0             متزوج          سليم             < 02             0       0
1             متزوج          سليم             < 02             0       0
2             متزوج          سليم             < 02             0       0
3             متزوج          سليم             < 02             0       0
4             متزوج          سليم             < 02             0       0

   السنة
0   2022
1   2022
2   2022
3   2022
4   2022
 ________________________________________________________________

In [30]:
df_2018.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018

In [29]:
df_2019.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,تبوك,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2019/02,MALE,>= 30,متزوج,لا,>= 05,لا,< 5000,2019
1,2.0,حائل,مشروع,حل,NaN,160000.0,>= 1000,2019/01,MALE,< 30,أعزب,لا,< 02,لا,< 5000,2019
2,3.0,تبوك,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2019/02,MALE,< 30,متزوج,لا,>= 02,لا,>= 7500,2019
3,4.0,المدينة,إجتماعي,زواج,موظف شركة حكومية,60000.0,< 1000,2019/03,MALE,< 30,متزوج,لا,>= 10,لا,>= 5000,2019
4,5.0,المدينة,إجتماعي,أسرة,موظف قطاع خاص,60000.0,>= 1000,2019/02,FEMALE,>= 30,مطلق,لا,>= 02,لا,>= 10000,2019

In [31]:
df_2020.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,6,الرس,تمويل الافراد,أسرة,غير محدد,60000,>= 1000,2020/03,أنثى,>= 30,مطلق,لا,>= 02,نعم,< 5000,2020
1,7,الرياض,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020
2,47,الرياض,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/01,ذكر,< 30,متزوج,لا,>= 02,لا,< 5000,2020
3,48,مكة,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,نعم,< 5000,2020
4,49,الطائف,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020

In [40]:
df_2021.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمرالعميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد افراد الاسرة,قيمة الدخل,السنة
0,1,حائل,مشروع,قرض مشروع ناشيء,غير معرف,30000.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,غير معروف,<5000,2021
1,2,الطائف,نقل,قرض سيارة أجرة,غير معرف,54694.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,>= 02,<5000,2021
2,8,الرياض,مشروع,قرض التميز,قطاع خاص,1585000.0,>=1000,2021/1,أنثى,>= 40,أعزب,سليم,< 02,>=10000,2021
3,12,مكه المكرمه,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,>= 40,متزوج,سليم,< 02,<5000,2021
4,13,جازان,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,< 30,أعزب,سليم,< 02,<5000,2021

In [41]:
df_2022.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمر_العميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد_أفراد_الأسره,زود_الإدخاري,القيمة,السنة
0,1,بنك التنمية الإجتماعية فرع المجمعة,مشروع,قرض التميز,قطاع خاص,2877000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
1,2,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض مشروع حل,قطاع خاص,281000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
2,3,بنك التنمية الإجتماعية فرع جدة,مشروع,قرض التميز,قطاع خاص,2218980.0,>= 1000,2022-01,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022
3,4,بنك التنمية الإجتماعية بالمدينة المنورة,مشروع,قرض التقنيات الناشئة,قطاع خاص,260000.0,>= 1000,2022-01,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
4,5,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض التقنيات الناشئة,قطاع خاص,220000.0,>= 1000,2022-03,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022

In [49]:
df_2020["نوع التمويل"].value_counts()

تمويل الافراد    12653
تمويل الاعمال      957
تمويل نقل          303
Name: نوع التمويل, dtype: int64

In [50]:
df_2020["تصنيف التمويل"].value_counts()

زواج            7693
أسرة            3439
خاصة            1404
ناشيء            599
أجرة خاصة        301
حل               286
ترميم            117
خريجين ناشيء      31
عربات البيع       20
التميز            19
امتياز             2
أجرة               2
Name: تصنيف التمويل, dtype: int64

In [45]:
df_2018.rename(columns = {'فرع البنك':'المدينة'}, inplace = True)
df_2019.rename(columns = {'فرع البنك':'المدينة'}, inplace = True)
df_2020.rename(columns = {'فرع البنك':'المدينة'}, inplace = True)

In [38]:
df_2021["التصنيف"].value_counts()

إجتماعي    29875
حر         22996
مشروع       2132
نقل          126
Name: التصنيف, dtype: int64

In [ ]:
data = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022])
data.head()

In [ ]:
# Check misnamed columns 
# Unify them 
# Extract the common columns 
# Concatenate
# غير معرف غير محدد قطاع العميل توحيد
# نضيف كولم في ٢٠٢١/٢٠٢١ للقرض الادخاري
# all except 2020 change to 3 categories 


# المدينة == فرع البنك DONE
# نوع التمويل == التصنيف بيسكلي
#