In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../data/gov_banking_data.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,الفئة_العمرية,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,نوع_الدخل,السنة
0,الأحساء,تمويل الافراد,قرض أسرة,قطاع حكومي,60000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,>= 02,0,>=7500,متوسط,2018
1,الأحساء,تمويل الاعمال,قرض مشروع ناشيء,متقاعد حكومي,122000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,< 02,0,<5000,منخفض جدا,2018
2,الأحساء,تمويل الافراد,قرض أسرة,متقاعد حكومي,60000.0,1.0,2018/01,ذكر,بالغين في منتصف العمر,متزوج,0.0,>= 05,0,<5000,منخفض جدا,2018
3,الأحساء,تمويل الافراد,قرض زواج,قطاع حكومي,48000.0,0.0,2018/01,ذكر,بالغين,متزوج,0.0,>= 02,0,>=5000,منخفض,2018
4,الأحساء,تمويل الاعمال,عربات البيع المتنقلة,غير معروف,150000.0,1.0,2018/01,ذكر,بالغين,متزوج,0.0,< 02,0,<5000,منخفض جدا,2018

In [ ]:
def sr_hello():
    print('Hello, from Sara!')

In [ ]:
# Counts for gender
# Counts for ages 
# Counts for cities 
# Counts type of loan 
# Product
# Marital status
# Income
# Count per year -- why?

- How are cities related to income? 
- Products vs cities
- Analyze the change in loan counts/products over the years, why is it that way? 
- Products and loan values -- which products require more or higher loans? 
- Income and loan values -- relationship 
- Minimum income to get a loan for each product and installment value
- Handicapped people, do they get higher loans?
- Age and types of loans and how many do they take (on average)
- Same for the marital state
- Retired people, do they take out more loans than working people? Do they make more money? 
- Which sector do people make more money, take more loans, most frequent type of loan in each sector?

In [24]:
data[data['المنتج'] == 'قرض القائم'].sort_values(by = 'قيمة_التمويل').head(10)

,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,الفئة_العمرية,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,نوع_الدخل,السنة
129464,الدمام,تمويل الاعمال,قرض القائم,قطاع خاص,220000.0,1.0,2022/02,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022
130926,الرياض,تمويل الاعمال,قرض القائم,قطاع خاص,300000.0,1.0,2022/02,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022
73851,النماص,تمويل الاعمال,قرض القائم,غير معروف,400000.0,1.0,2021/01,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
73857,الطائف,تمويل الاعمال,قرض القائم,غير معروف,420000.0,1.0,2021/01,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
129425,الدمام,تمويل الاعمال,قرض القائم,قطاع خاص,450000.0,1.0,2022/01,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022
80102,حفر الباطن,تمويل الاعمال,قرض القائم,غير معروف,480000.0,1.0,2021/02,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
1142,الرياض,تمويل الاعمال,قرض القائم,غير معروف,573000.0,1.0,2018/01,ذكر,كبار سن,متزوج,0.0,< 02,0,<5000,منخفض جدا,2018
73849,جدة,تمويل الاعمال,قرض القائم,غير معروف,580000.0,1.0,2021/01,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
73855,الرياض,تمويل الاعمال,قرض القائم,غير معروف,600000.0,1.0,2021/01,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
80091,القريات,تمويل الاعمال,قرض القائم,غير معروف,600000.0,1.0,2021/02,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021

In [7]:
data[data['قيمة_التمويل'] == 10000000]

,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,الفئة_العمرية,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,نوع_الدخل,السنة
80092,الرياض,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/02,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
90923,خميس مشيط,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/03,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
90950,الرياض,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/03,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
90956,الرياض,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/03,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
90994,الرياض,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/03,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
103788,المدينة,تمويل الاعمال,قرض القائم,غير معروف,10000000.0,1.0,2021/04,NaN,غير معرف,NaN,NaN,غير معروف,غير معروف,غير معروف,غير معروف,2021
129205,الرياض,تمويل الاعمال,قرض القائم,قطاع خاص,10000000.0,1.0,2022/03,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022
129310,الرياض,تمويل الاعمال,قرض القائم,قطاع خاص,10000000.0,1.0,2022/01,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022
129782,عرعر,تمويل الاعمال,قرض القائم,قطاع خاص,10000000.0,1.0,2022/01,أنثى,غير معرف,NaN,0.0,غير معروف,0,غير معروف,غير معروف,2022

In [8]:
data.groupby('المنتج').mean().sort_values(by='قيمة_التمويل')[['قيمة_التمويل']] # Boxplots

                      قيمة_التمويل
المنتج
فئات خاصة             2.895889e+04
قرض أسرة              5.197041e+04
قرض ترميم             5.219169e+04
قرض العمل الحر نقدي   5.387840e+04
قرض زواج              5.529699e+04
قرض سيارة             9.309395e+04
قرض النقل التشاركي    1.143269e+05
اتصالات               1.194444e+05
عربات البيع المتنقلة  1.413139e+05
سيولة                 1.437500e+05
قرض مشروع ناشيء       2.060087e+05
قرض مشروع حل          2.135690e+05
قرض خريجين ناشيء      2.947222e+05
قرض نقاط البيع        4.386250e+05
قرض امتياز تجاري      6.482389e+05
قرض التقنيات الناشئة  7.480726e+05
الإختراع              8.970000e+05
قرض التميز            1.673096e+06
برنامج ساهم           2.147333e+06
برنامج دائم           2.408319e+06
قرض القائم            3.874460e+06

In [9]:
data.groupby('المنتج').sum().sort_values(by='قيمة_التمويل')[['قيمة_التمويل']] # Boxplots

                      قيمة_التمويل
المنتج
سيولة                 5.750000e+05
الإختراع              8.970000e+05
قرض نقاط البيع        3.509000e+06
اتصالات               4.300000e+06
قرض امتياز تجاري      5.834150e+06
برنامج ساهم           6.442000e+06
قرض التقنيات الناشئة  7.480726e+06
عربات البيع المتنقلة  2.119709e+07
برنامج دائم           2.408319e+07
قرض ترميم             4.519800e+07
قرض خريجين ناشيء      5.570250e+07
قرض سيارة             5.725278e+07
قرض النقل التشاركي    6.791017e+07
فئات خاصة             1.084800e+08
قرض التميز            2.409258e+08
قرض القائم            2.440910e+08
قرض مشروع حل          2.919488e+08
قرض مشروع ناشيء       8.518461e+08
قرض أسرة              2.275992e+09
قرض العمل الحر نقدي   2.786968e+09
قرض زواج              4.012626e+09

In [10]:
data.groupby('المنتج').mean().sort_values(by='قيمة_التمويل')[['قيمة_التمويل', 'قيمة_القسط']]

                      قيمة_التمويل  قيمة_القسط
المنتج
فئات خاصة             2.895889e+04    0.000000
قرض أسرة              5.197041e+04    0.656341
قرض ترميم             5.219169e+04    0.665896
قرض العمل الحر نقدي   5.387840e+04    0.732744
قرض زواج              5.529699e+04    0.768539
قرض سيارة             9.309395e+04    0.993496
قرض النقل التشاركي    1.143269e+05    1.000000
اتصالات               1.194444e+05    1.000000
عربات البيع المتنقلة  1.413139e+05    0.986577
سيولة                 1.437500e+05    1.000000
قرض مشروع ناشيء       2.060087e+05    0.946070
قرض مشروع حل          2.135690e+05    0.979517
قرض خريجين ناشيء      2.947222e+05    0.952381
قرض نقاط البيع        4.386250e+05    1.000000
قرض امتياز تجاري      6.482389e+05    1.000000
قرض التقنيات الناشئة  7.480726e+05    1.000000
الإختراع              8.970000e+05    1.000000
قرض التميز            1.673096e+06    0.993056
برنامج ساهم           2.147333e+06    1.000000
برنامج دائم           2.408319e+06    1.000000
قرض القائم            3.874460e+06    1.000000

In [18]:
a = data.groupby(['المنتج'])['المنتج'].count()/data["المنتج"].count()*100
a.sort_values()

المنتج
الإختراع                 0.000555
برنامج ساهم              0.001666
سيولة                    0.002222
قرض نقاط البيع           0.004444
قرض امتياز تجاري         0.004999
برنامج دائم              0.005554
قرض التقنيات الناشئة     0.005554
اتصالات                  0.019996
قرض القائم               0.034993
قرض التميز               0.079984
عربات البيع المتنقلة     0.083317
قرض خريجين ناشيء         0.104979
قرض النقل التشاركي       0.329934
قرض سيارة                0.341598
قرض ترميم                0.481015
قرض مشروع حل             0.759293
فئات خاصة                2.080695
قرض مشروع ناشيء          2.296763
قرض أسرة                24.325135
قرض العمل الحر نقدي     28.731476
قرض زواج                40.305828
Name: المنتج, dtype: float64

In [30]:
data.isna().sum()

المدينة                0
نوع_التمويل            0
المنتج                 0
قطاع_العميل            0
قيمة_التمويل           0
قيمة_القسط            76
تاريخ_الصرف            0
جنس_العميل            38
الفئة_العمرية          0
الحالة_الاجتماعية     94
احتياجات_خاصة         50
عدد_افراد_الاسرة     157
قرض_ادخاري             0
قيمة_الدخل             0
نوع_الدخل              0
السنة                  0
dtype: int64

In [ ]:
# غير معرف في الفئة العمرية
# غير معروف في جنس العميل
# تأكيد على قرض ادخاري
# فيه كولم ثاني